{% extends 'base.html' %}


{% block content %}
{% load bootstrap5 %}

<div class="w-50 mx-auto border border-grey rounded p-4 pt-0 my-5">
    <h1>Login</h1>
    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-between">
            <input class="btn btn-primary" type="submit" value="로그인하기">
            <a class="btn btn-dark" href="{% url 'movies:index' %}">목록</a>
        </div>
    </form>
</div>
{% endblock content %}